about-time==4.2.1
aiofiles==23.2.1
alive-progress==3.1.5
annotated-types==0.7.0
anyio==4.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
autograd==1.6.2
babel==2.16.0
beautifulsoup4==4.12.3
bleach==6.1.0
certifi E:/big/FCU_LabVIEW_Course_AI_part/wheels/certifi @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/certifi_2024.7.4_py3_none_any.whl#sha256=c198e21b1289c2ab85ee4e67bb4b4ef3ead0892059901a8d5b622f24a1101e90-*.whl
cffi==1.17.0
charset-normalizer E:/big/FCU_LabVIEW_Course_AI_part/wheels/charset_normalizer @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/charset_normalizer_3.3.2_cp39_cp39_win_amd64.whl#sha256=b01b88d45a6fcb69667cd6d2f7a9aeb4bf53760d7fc536bf679ec94fe9f3ff3d-*.whl
click==8.1.7
cma==3.2.2
colorama==0.4.6
comm==0.2.2
contourpy E:/big/FCU_LabVIEW_Course_AI_part/wheels/contourpy @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/contourpy_1.2.1_cp39_cp39_win_amd64.whl#sha256=10a37ae557aabf2509c79715cd20b62e4c7c28b8cd62dd7d99e5ed3ce28c3fd9-*.whl
cycler E:/big/FCU_LabVIEW_Course_AI_part/wheels/cycler @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/cycler_0.12.1_py3_none_any.whl#sha256=85cef7cff222d8644161529808465972e51340599459b8ac3ccbac5a854e0d30-*.whl
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
exceptiongroup==1.2.2
executing==2.0.1
fastapi==0.112.0
fastjsonschema==2.20.0
ffmpy==0.4.0
filelock E:/big/FCU_LabVIEW_Course_AI_part/wheels/filelock @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/filelock_3.15.4_py3_none_any.whl#sha256=6ca1fffae96225dab4c6eaf1c4f4f28cd2568d3ec2a44e15a08520504de468e7-*.whl
fonttools E:/big/FCU_LabVIEW_Course_AI_part/wheels/fonttools @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/fonttools_4.53.1_cp39_cp39_win_amd64.whl#sha256=e5b708073ea3d684235648786f5f6153a48dc8762cdfe5563c57e80787c29fbb-*.whl
fqdn==1.5.1
fsspec E:/big/FCU_LabVIEW_Course_AI_part/wheels/fsspec @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/fsspec_2024.6.1_py3_none_any.whl#sha256=3cb443f8bcd2efb31295a5b9fdb02aee81d8452c80d28f97a6d0959e6cee101e-*.whl
future==1.0.0
gradio==4.41.0
gradio_client==1.3.0
grapheme==0.6.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.24.5
idna E:/big/FCU_LabVIEW_Course_AI_part/wheels/idna @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/idna_3.7_py3_none_any.whl#sha256=82fee1fc78add43492d3a1898bfa6d8a904cc97d8427f683ed8e798d07761aa0-*.whl
importlib_metadata==8.2.0
importlib_resources E:/big/FCU_LabVIEW_Course_AI_part/wheels/importlib_resources @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/importlib_resources_6.4.0_py3_none_any.whl#sha256=50d10f043df931902d4194ea07ec57960f66a80449ff867bfe782b4c486ba78c-*.whl
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.3
isoduration==20.11.0
jedi==0.19.1
Jinja2 E:/big/FCU_LabVIEW_Course_AI_part/wheels/Jinja2 @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/jinja2_3.1.4_py3_none_any.whl#sha256=bc5dd2abb727a5319567b7a813e6a2e7318c39f4f487cfe6c89c6f9c7d25197d-*.whl
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jstyleson==0.0.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
kiwisolver E:/big/FCU_LabVIEW_Course_AI_part/wheels/kiwisolver @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/kiwisolver_1.4.5_cp39_cp39_win_amd64.whl#sha256=59415f46a37f7f2efeec758353dd2eae1b07640d8ca0f0c42548ec4125492635-*.whl
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib E:/big/FCU_LabVIEW_Course_AI_part/wheels/matplotlib @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/matplotlib_3.9.2_cp39_cp39_win_amd64.whl#sha256=b2696efdc08648536efd4e1601b5fd491fd47f4db97a5fbfd175549a7365c1b2-*.whl
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mpmath E:/big/FCU_LabVIEW_Course_AI_part/wheels/mpmath @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/mpmath_1.3.0_py3_none_any.whl#sha256=a0b2b9fe80bbcd81a6647ff13108738cfb482d481d826cc0e02f5b35e5c88d2c-*.whl
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx E:/big/FCU_LabVIEW_Course_AI_part/wheels/networkx @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/networkx_3.2.1_py3_none_any.whl#sha256=f18c69adc97877c42332c170849c96cefa91881c99a7cb3e95b7c659ebdc1ec2-*.whl
ninja==1.11.1.1
nncf==2.12.0
notebook_shim==0.2.4
numpy==1.26.4
opencv-python E:/big/FCU_LabVIEW_Course_AI_part/wheels/opencv_python @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/opencv_python_4.10.0.84_cp37_abi3_win_amd64.whl#sha256=32dbbd94c26f611dc5cc6979e6b7aa1f55a64d6b463cc1dcd3c95505a63e48fe-*.whl
openvino E:/big/FCU_LabVIEW_Course_AI_part/wheels/openvino @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/openvino_2024.3.0_16041_cp39_cp39_win_amd64.whl#sha256=ed4987530db7dba6adc0f2a1dd73433cbcc42f2688a06d85579bf203cda57b34-*.whl
openvino-telemetry E:/big/FCU_LabVIEW_Course_AI_part/wheels/openvino_telemetry @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/openvino_telemetry_2024.1.0_py3_none_any.whl#sha256=73ec3402a1bfb9050ee8885c7618dcb91456d6489dfa84cda7eed6cfa16a6c88-*.whl
orjson==3.10.7
overrides==7.7.0
packaging E:/big/FCU_LabVIEW_Course_AI_part/wheels/packaging @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/packaging_24.1_py3_none_any.whl#sha256=5b8f2217dbdbd2f7f384c41c628544e6d52f2d0f53c6d0c3ea61aa5d1d7ff124-*.whl
pandas E:/big/FCU_LabVIEW_Course_AI_part/wheels/pandas @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/pandas_2.2.2_cp39_cp39_win_amd64.whl#sha256=640cef9aa381b60e296db324337a554aeeb883ead99dc8f6c18e81a93942f5f4-*.whl
pandocfilters==1.5.1
parso==0.8.4
pillow E:/big/FCU_LabVIEW_Course_AI_part/wheels/pillow @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/pillow_10.4.0_cp39_cp39_win_amd64.whl#sha256=961a7293b2457b405967af9c77dcaa43cc1a8cd50d23c532e62d48ab6cdd56f5-*.whl
platformdirs==4.2.2
prometheus_client==0.20.0
prompt_toolkit==3.0.47
psutil==6.0.0
pure_eval==0.2.3
py-cpuinfo E:/big/FCU_LabVIEW_Course_AI_part/wheels/py_cpuinfo @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/py_cpuinfo_9.0.0_py3_none_any.whl#sha256=859625bc251f64e21f077d099d4162689c762b5d6a4c3c97553d56241c9674d5-*.whl
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydot==2.0.0
pydub==0.25.1
Pygments==2.18.0
pymoo==0.6.1.3
pyngrok==7.2.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-multipart==0.0.9
pytz==2024.1
pywin32==306
pywinpty==2.0.13
PyYAML E:/big/FCU_LabVIEW_Course_AI_part/wheels/PyYAML @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/PyYAML_6.0.2_cp39_cp39_win_amd64.whl#sha256=39693e1f8320ae4f43943590b49779ffb98acb81f788220ea932a6b6c51004d8-*.whl
pyzmq==26.1.0
referencing==0.35.1
requests E:/big/FCU_LabVIEW_Course_AI_part/wheels/requests @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/requests_2.32.3_py3_none_any.whl#sha256=70761cfe03c773ceb22aa2f671b4757976145175cdfca038c02654d061d6dcc6-*.whl
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.20.0
ruff==0.5.7
scikit-learn==1.5.1
scipy E:/big/FCU_LabVIEW_Course_AI_part/wheels/scipy @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/scipy_1.13.1_cp39_cp39_win_amd64.whl#sha256=392e4ec766654852c25ebad4f64e4e584cf19820b980bc04960bca0b0cd6eaa2-*.whl
seaborn E:/big/FCU_LabVIEW_Course_AI_part/wheels/seaborn @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/seaborn_0.13.2_py3_none_any.whl#sha256=636f8336facf092165e27924f223d3c62ca560b1f2bb5dff7ab7fad265361987-*.whl
semantic-version==2.10.0
Send2Trash==1.8.3
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
starlette==0.37.2
sympy E:/big/FCU_LabVIEW_Course_AI_part/wheels/sympy @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/sympy_1.13.2_py3_none_any.whl#sha256=c51d75517712f1aed280d4ce58506a4a88d635d6b5dd48b39102a7ae1f3fcfe9-*.whl
tabulate==0.9.0
terminado==0.18.1
thop E:/big/FCU_LabVIEW_Course_AI_part/wheels/thop @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/thop_0.1.1.post2209072238_py3_none_any.whl#sha256=01473c225231927d2ad718351f78ebf7cffe6af3bed464c4f1ba1ef0f7cdda27-*.whl
threadpoolctl==3.5.0
tinycss2==1.3.0
tomli==2.0.1
tomlkit==0.12.0
torch E:/big/FCU_LabVIEW_Course_AI_part/wheels/torch @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/torch_2.4.0%2Bcu124_cp39_cp39_win_amd64.whl#sha256=7a8c20a8e29dde0f17934c39c2a9a37e44d074926ef7d49aee249783256d5c80-*.whl
torchaudio E:/big/FCU_LabVIEW_Course_AI_part/wheels/torchaudio @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/torchaudio_2.4.0%2Bcu124_cp39_cp39_win_amd64.whl#sha256=8d52b40c304165ef59634cbbeaa29fa86b8174533aa03d1c6a30ef9fab656b78-*.whl
torchvision E:/big/FCU_LabVIEW_Course_AI_part/wheels/torchvision @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/torchvision_0.19.0%2Bcu124_cp39_cp39_win_amd64.whl#sha256=166d23c40e794a8c0c08005e08cfd4cf68cf398f9640ec843dc1b0bf761d0218-*.whl
tornado==6.4.1
tqdm E:/big/FCU_LabVIEW_Course_AI_part/wheels/tqdm @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/tqdm_4.66.5_py3_none_any.whl#sha256=90279a3770753eafc9194a0364852159802111925aa30eb3f9d85b0e805ac7cd-*.whl
traitlets==5.14.3
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions E:/big/FCU_LabVIEW_Course_AI_part/wheels/typing_extensions @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/typing_extensions_4.9.0_py3_none_any.whl#sha256=af72aea155e91adfc61c3ae9e0e342dbc0cba726d6cba4b6c72c1f34e47291cd-*.whl
tzdata==2024.1
ultralytics E:/big/FCU_LabVIEW_Course_AI_part/wheels/ultralytics @ file:/C:/Users/User/AppData/Local/Programs/Python/Python39/wheels/ultralytics_8.1.34_py3_none_any.whl#sha256=e0c8d2fb1540cd559a7f71a04482c4b94b1b794ec04e715e78bd863b88102090-*.whl
uri-template==1.3.0
urllib3==2.2.2
uvicorn==0.30.6
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
widgetsnbextension==4.0.11
wrapt==1.16.0
zipp==3.20.0
